<html>
    <head>
        
        <title>TechShots</title>
        <link href="/css/base.css" rel="stylesheet">
        <link href="/css/feed.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500" rel="stylesheet">
    </head>
    <body>
        <div class="topbar">
          <span>
              <a href="/profile"><img class="img" src="/avatar.svg" alt=""></a>
          </span>
          <span>
            <img class="logo" src="/logo.svg" alt="TechShots Logo">
            <h2 class="logo-text">TechShots</h2>
          </span>
          <span>
              <img class="img filter-btn" src="/settings.svg" alt="">
            </span>
        </div>

        <div class="content">
            <div class="recommendation">
              <div class="recommendation-item">
                <a href="/search">
                  <img src="/search.png"/>
                </a>
                <span>Search</span>
              </div>
              <div class="recommendation-item">
                  <img src="/suggestion.jpg"/>
                  <span>TechCrunch</span>
                  <span class="follow-btn">+</span>
              </div>
            </div>
            
            <div class="category">
              <ul>
                <li class="active"><a href="#">All</a></li>
                <li><a href="#">Favorites</a></li>
              </ul>
            </div>

            <div class="feed">
                <% posts.forEach((post) => { %>
                  <div class="feed-card primary">
                    <div class="feed-image-container">
                      <img src="<%= post.urlToImage %>" alt="<%= post.title %>">
                    </div>
                    <div class="feed-details">
                      <p class="post-src">
                        <img src="/tc.jpg"/>
                        <!-- <a href="<%= post.url %>" target="blank"><%= post.source.id %></a> -->
                      </p>
                      <h3 class="post-title"><%= post.title %></h3>
                      <p class="post-desc"><%= post.description %></p>
                      <hr>
                      <div class="post-btns">
                          <span class="heart"></span> 
                          <span class="label">120</span>
                          <span class="eye"></span>
                          <span class="label">320</span>
                         | 🔰 Bookmark 
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                <% }) %>
            </div>
            <ul class="pagination">
              <li class="disabled"><a href="#!"><img src="/chevron_left.svg"/></a></li>
              <li class="active"><a href="#!">1</a></li>
              <li class="waves-effect"><a href="#!">2</a></li>
              <li class="waves-effect"><a href="#!">3</a></li>
              <li class="waves-effect"><a href="#!">4</a></li>
              <li class="waves-effect"><a href="#!">5</a></li>
              <li class="waves-effect"><a href="#!"><img src="/chevron_right.svg"/></a></li>
            </ul>
          <footer style="text-align: center;">
              TechShots uses <a href="https://newsapi.org/" target="blank">NEWSAPI</a>
          </footer>

        </div>
        <div class="filter-container">
          <div>
            Refresh
          </div>
          <div>
            Sort By
            <select>
              <option>Most Liked</option>
              <option>Most Recent</option>
            </select>
          </div>
        </div>

        <script>
          const hearts = document.querySelectorAll('.heart');
          hearts.forEach(heart => {
            heart.addEventListener('click', () => {
              heart.classList.toggle('active');
            });
          });
          const filterButton = document.querySelector('.filter-btn');
          const filters = document.querySelector('.filter-container');
          filterButton.addEventListener('click', () => filters.classList.toggle('active'));
        </script>
    </body>
</html>