<html>
    <head>
        
        <title>TechShots</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/base.css" rel="stylesheet">
        <link href="/css/feed.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500" rel="stylesheet">
    </head>
    <body>
        <div class="topbar">
          <span></span>
          <span>
            <img class="logo" src="/logo.svg" alt="TechShots Logo">
            <h2 class="logo-text">TechShots</h2>
          </span>
          <span>
              <img class="img account-btn" src="/avatar.svg" alt="">
            </span>
        </div>

        <div class="content">
            <div style="height: 10px;">
            </div>
            
            <div class="category">
              <% if (user){ %>
              <ul>
                <li class="active" id="all-posts-btn"><a href="#">All</a></li>
                <li id="favorites-btn"><a href="#">Favorites</a></li>
              </ul>
              <script src="/js/user-feed.js"></script>
              <% } %>
            </div>

            <div class="feed">
                <% posts.forEach((post) => { %>
                  <div class="feed-card primary">
                    <div class="feed-image-container">
                      <img src="<%= post.urlToImage %>" alt="<%= post.title %>">
                    </div>
                    <div class="feed-details">
                      <p class="post-src">
                        <a href="<%= post.url %>" class="post-link" target="blank"><%= post.source.id %></a>
                      </p>
                      <a href="<%= post.url %>" target="blank" class="post-link">  
                        <h3 class="post-title"><%= post.title %></h3>
                      </a>
                      <p class="post-desc"><%= post.description %></p>
                      <hr>
                      <div class="post-btns">
                          <span class="heart <%= post.liked %>" id="<%= post.title %>">
                            <span style="display: none;">
                              <input type="text" id="description" value="<%= post.description %>">
                              <input type="text" id="urlToImage" value="<%= post.urlToImage %>">
                              <input type="text" id="sourceName"  value="<%= post.source.name %>">
                              <input type="text" id="sourceUrl"  value="<%= post.url %>">
                            </span>
                          </span> 
                          <span class="label" id="like-<%= post.title %>"><%= post.likes %></span>
                          <span class="eye"></span>
                          <span class="label views"><%= post.views %></span>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                <% }) %>
            </div>
            <ul class="pagination">
              <li class="active" id="load-more"><a href="#!">Load more</a></li>
            </ul>
            <div style="display: none; height: 70px;" id="loader">
                <div class ="loader"></div>
            </div>
            
          <footer style="text-align: center;">
              TechShots uses <a href="https://newsapi.org/" target="blank">NEWSAPI</a>
          </footer>

        </div>
        <div class="account-container">
          <% if(!user) {%>
            <div id="signin-block">
              <input type="text" name="username" id="auth-username" placeholder="Username" class="account-input">
              <br>
              <input type="password" name="password" id="auth-password" placeholder="Password" class="account-input">
              <br>
              <button id="authorize-btn" class="account-action-btn">Sign in</button>
            </div>
            <div style="text-align: center;">
              <a href="/signup" id="signup-link">Create a new account</a>
            </div>
            <script src="/js/signin.js"></script>
          <% } %>

          <% if(user){ %>
            <div>
              <p>Hello, <%= user.name %></p>
              (<%= user.email %>)
            </div>
            <div>
                <button class="account-action-btn" id="logout-btn">Log out</button>
            </div>
            <script src="/js/logout.js"></script>
            <script src="/js/favorites.js"></script>
          <% } %>

        </div>

        <script src="/js/home.js"></script>
    </body>
</html>